/* * {
    border: black 1px solid;
} */

:root {
    --color-primary-yellow: hsl(44, 99%, 73%, 0.8);  
    --color-primary-blue: hsla(210, 80%, 48%, 0.9);    
    --color-primary-black: hsl(0, 1%, 17%);
    --color-primary-white: hsl(0, 0%, 100%); 
    --color-grey-form: hsl(220, 3%, 82%);
    --color-warning: hsl(0, 100%, 50%);
    /* --color-grey-secondary-text: hsl(0, 0%, 48%);
    --color-link-blue: hsla(213, 93%, 47%, 0.64); */
}

body {
    overflow-x: hidden;    
}

.container {
    width: 80%;
    margin: 0 auto;    
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

/* Formulario para crear la tareas */
form.create-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    gap: 1rem;
    margin: 1rem 0;
    padding: 1.2rem;
    border: solid 2px var(--color-grey-form);
    border-radius: 20px;    
}

/* Formulario de filtrado y búsqueda */

form.filter-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 1.2rem;
    margin: 1rem 0;
    border: solid 2px var(--color-grey-form);
    border-radius: 20px;    
}


/* Bloque de tareas */
section.list-tasks {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    padding: 1.2rem;
    border: solid 2px var(--color-grey-form);
    border-radius: 20px;    
}

/* Cada tarea */
article.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* gap: 0rem; */
    /* padding: 0.3rem 0.3rem;               */
}

footer {
    text-align: center;
    margin: 1rem auto;
    padding: 0.6rem;
    background-color: var(--color-primary-black);
    color: var(--color-primary-white);
    font-weight: bold;
}

/* Mensaje de advertencia en caso de error */
/* Que al pinchar en el input y ponerlo en foco no salga una línea negra. */
input:focus{
    outline: none;
}
/* Poner el borde del input rojo */
.is-invalid {
    border: 2px solid var(--color-warning);
    color: var(--color-warning);
} 
/* Poner el placeholder rojo y fuente más gruesa */
input.is-invalid-placeholder-red::placeholder {
    color: var(--color-warning);
    font-weight: 700;
}

